extends layout

block content
    h1 Play Time 4 Trivia!
    br
    br
    form(action='post')
        each question, index in questions
            div
                b #{question.Question}
                br
                each answer, i in question.ShuffledAnswers
                    input(type='radio', name=`Question${index + 1}`, value=i, id=`q${index + 1}a${i + 1}`)
                    label(for=`q${index + 1}a${i + 1}`) #{answer.text}
                    br
        button(type="submit") Submit