extends layout

block content
  h1 Users
  table
    thead
      tr
        th ID
        th Name
        th Email
        th Role
        th Actions
    tbody
      each user in users
        tr
          td= user.userId
          td= user.username
          td= user.email
          td
            if user.roles.includes('disabled')
              span Disabled
            else if user.roles.includes('admin')
              span Admin
            else if user.roles.includes('user')
              span User
          td
            if user.roles.includes('disabled')
              form(action=`user/enable/${user.userId}`, method='post', style='display:inline')
                button(type='submit') Enable
            else
              form(action=`user/disable/${user.userId}`, method='post', style='display:inline')
                button(type='submit') Disable
          td
            if user.roles.includes('user')
              form(action=`user/promote/${user.userId}`, method='post', style='display:inline')
                button(type='submit') Promote to Admin
            else if user.roles.includes('admin')
              form(action=`user/demote/${user.userId}`, method='post', style='display:inline')
                button(type='submit') Demote to User
